body {
  color: white;
  background-color: #1f2026;
  padding: 20px;
  display: flex;
  flex: column;
  justify-content: space-around;
}

.container {
  display: flex;
  flex: row;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

@media (max-width: 766px) {
  .container {
    flex-direction: column;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  background-color: #272830;
  padding: 10px;
  width: 480px;
  height: 500px;
  margin: 50px;
  gap: 24px;
  border-radius: 20px;
  border-width: 2px;
  border-style: inherit;
  border-color: #129ee5;
  box-shadow: 0px 2px 15px 1px #129ee5;
}

.middlephoto {
  display: flex;
  align-items: flex-start;
  width: 200px;
  margin: 10px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #272830;
}

.middletext {
  margin: auto;
  font-size: 60px;
  margin-top: 0px;
  text-align: center;
}

.quote {
  text-align: center;
  font-style: italic;
  font-size: 22px;
  margin-top: 60px;
}

.middlebox {
  display: flex;
  align-items: justify;
}

.aboutme {
  font-family: "Playpen Sans", cursive;
  margin-top: -8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  color: rgb(0, 166, 255);
}

.iconbg {
  width: 80px;
  border-radius: 99px;
  background-color: white;
  height: 60px;
  display: inline-block;
}

.sportbox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: -30px;
}

.sportbox2 {
  display: flex;
  flex-direction: row;
  margin-top: -15px;
}

.iconsocials {
  width: 200px;
}

.gridsocial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 200px;
  height: 200px;
  margin-top: -310px;
}

.gridelement {
  padding: 20px;
}

.second {
  order: 1;
}

.third {
  order: 2;
}
