* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #1f2026;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  width: 100%;
  gap: 25px;
}

.box {
  padding: 10px;
  text-align: justify;
  background-color: #272830;
  width: 30%;
  border-radius: 20px;
  border-width: 10px;
  border-style: inherit;
  border-color: #129ee5;
  box-shadow: 0px 2px 15px 1px #129ee5;
}

@media (max-width: 766px) {
  .container {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
}

.middlephoto {
  width: 50%;
  height: auto;
  max-width: 200px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #272830;
}

.middletext {
  margin: auto;
  text-align: center;
}

.quote {
  text-align: center;
  font-style: italic;
}

.middlebox {
  display: flex;
  align-items: justify;
  height: 50%;
}

.aboutme {
  font-family: "Playpen Sans", cursive;
  color: rgb(0, 166, 255);
}

.iconbg {
  border-radius: 99px;
  background-color: white;
  display: inline-block;
  width: 20%;
  height: 40%;
}

.sportbox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.sportbox2 {
  font-size: 12px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  width: 25%;
  align-items: center;
  justify-items: center;
}

.iconsocials {
  width: 100%;
}

.gridsocial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.gridelement {
  width: 85%;
}

.second {
  order: 1;
  display: flex;
  flex-direction: column;
}

.third {
  order: 2;
}
